@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$body-bg: #f2f2f2;
$primary: #00060d;
$secondary: #1b2b40;
$highlight: #bf5934;
$text-primary-font-weight: 600;


$custom-theme-colors:map-merge($theme-colors, (
  "body-bg": $body-bg,
  "primary": $primary,
  "secondary": $secondary,
  "highlight": $highlight,
));

$theme-colors: map-merge($theme-colors, $custom-theme-colors);


/* App.css */
html {
  position: relative;
  min-height: 100%;
  color: var(--primary-color);
  background-color: var(--background-color);
  font-weight: 400;
}

main {
  margin-bottom: 80px;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

/* NavBar.css */

.logo {
  font-size: 24px;
  margin: 0px;
  font-weight: 600;
  color: #bf5934;
}

header {
  background-color: var(--background-color);
  color: white;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: start;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--primary-color-lighter);
}

.navigation-element {
  font-size: medium;
}

/* Footer.css */

footer {
  background-color: var(--background-color);
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 40px;
  min-width: 750px;
}

footer a {
  text-decoration: none;
  color: var(--primary-color);
}

footer a:hover {
  color: var(--primary-color-lighter);
}

.footer-wrapper a{
  padding-left: 15px;
  padding-right: 15px;
}


@import "../node_modules/bootstrap/scss/bootstrap";
